<div class="mt-2 px-1">
    <div class="flex flex-wrap -mx-2 relative">
        {% for product in craft.entries.all() %}
            <a href="{{ product.url }}" class="w-1/3 p-2 flex-col no-underline">
                <div class="border rounded p-6 flex">
                    <div class="inner">
                        {{- product.title -}}
                        {% if product.productDetails %}
                            <span class="block mt-2 text-sm opacity-50">
                                {{- product.productDetails.price | currency -}}
                            </span>
                        {% endif %}
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
</div>
