{% extends "_layout" %}

{% block main %}
    <section class="max-w-md mx-auto mt-12">
        <h1>{{ entry.title }}</h1>

        {% set productInfo = craft.snipcart.getProductInfo(entry) %}
        
        {% if productInfo.price %}
            <p class="text-grey">{{ productInfo.price | currency }}</p>
        {% endif %}

        {{ productInfo.getBuyNowButton({
            classes: [
                'inline-block',
                'mt-6',
                'px-4',
                'py-2',
                'rounded',
                'border',
                'border-blue',
                'no-underline',
                'bg-blue',
                'text-white',
            ]
        }) | raw }}

        {{ productInfo.getBuyNowButton({
            text: 'Buy Now + Options',
            customOptions: [{
                'name': 'Color',
                'required': true,
                'options': [ 'blue', 'green', 'red', 'pink' ]

            }],
            classes: [
                'inline-block',
                'mt-6',
                'ml-1',
                'px-4',
                'py-2',
                'rounded',
                'border',
                'border-blue',
                'no-underline',
                'bg-blue',
                'text-white',
            ]
        }) | raw }}
    </section>
{% endblock %}