{% extends "_layout" %}

{% block main %}

    <section class="max-w-md mx-auto block mt-16 sm:mt-32 mb-16 px-8 lg:px-0">
        <p class="text-3xl leading-tight text-white font-thin mb-12 leading-normal">
            Welcome to our store! We pretend to sell fake things so designers and developers can test the <a class="text-white" href="https://workingconcept.com/plugins/snipcart" target="_blank">Snipcart plugin for Craft&nbsp;CMS</a>.
        </p>
    </section>


    <section class="max-w-md mx-auto mt-12 px-8 md:px-0">
        <h2 class="text-black font-bold text-md">
            {{- "Products"|t -}}
        </h2>
        {% include "_parts/product-list" %}
    </section>

{% endblock %}